body {
  background: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: block;
}

.promo {
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.promo.right {
  align-items: flex-end;
}
.promo.left {
  align-items: flex-start;
}

.promo.light {
  color: black;
}
.promo.dark {
  color: white;
}

.promo__bg {
  width: 80%;
  height: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.promo.left .promo__bg {
  left: inherit;
  right: 0;
}

.promo.flip-bg .promo__bg {
  transform: scaleX(-1)
}

.promo__info {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  flex: 1 1 auto;
  position: relative;
  font-size: 1.1em;
  padding: 1em;
}
.promo__info p {
  max-width: 350px;
  text-align: center;
}

.promo .promo__info:after {
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 140%;
  height: 100%;
  position: absolute;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 72%, rgba(2,0,36,0) 100%);
  z-index: -1;
}
.promo.light .promo__info:after {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 72%, rgba(2,0,36,0) 100%);
}
.promo.right .promo__info:after {
  transform: rotate(180deg);
  right: 0;
  left: auto;
}

.promo__title {
  color: white;
  font-size: calc(20 * .3vw);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  line-height: 1;
  margin: 0;
}

.promo__footer {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.tajfunusa .promo__bg {
  background-image: url('images/products/tajfunusademocrop.png');
  background-position: 80% 10%;
}

.squarebarrel .promo__bg {
  background-image: url('images/products/squarebarreldumping.jpg');
  background-position: 60% 50%;
}

.pronovost .promo__bg {
  background-image: url('images/products/Gamme_Groupe1.jpeg');
  background-position: 60% 50%;
}

.seppi .promo__bg {
  background-image: url('images/products/seppi1.png');
  background-position: 10% 50%;
}

.locknlube .promo__bg {
  background-image: url('images/products/IMG_7398.jpg');
  background-position: 20% 70%;
}

.fyrebx .promo__bg {
  background-image: url('images/products/LANDBX_Triple+play+03-2024+med_t.jpg');
  background-position: 60% 50%;
}

.awassos .promo__bg {
  background-image: url('images/products/awassos_machine.jpg');
  background-position: 20% 85%;
}

.goweil .promo__bg {
  background-image: url('images/products/Goweilbucket.jpeg');
  background-position: 60% 62%;
}

.amsoil .promo__bg {
  background-image: url('images/products/amsoil.jpeg');
  background-position: 60% 62%;
}

.giant .promo__bg {
  background-image: url('images/products/G2200_1-1280x848.jpg');
  background-position: 60% 62%;
}
.aebi .promo__bg {
  background-image: url('images/products/slider_aebi_terratrac_agr_1170x405_d[9003].jpg');
  background-position: 80% 80%;
}
.ubco .promo__bg {
  background-image: url('images/products/DSC01161.jpg');
  background-position: 60% 50%;
}
.menzi .promo__bg {
  background-image: url('images//products/menzi.jpg');
  background-position: 50% 50%;
}


.button {
  display: inline-block;
  padding: 10px;
  color: white;
  text-decoration: none;
  background: red;
}

header {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  color: black;
  background: white;
  align-items: center;
  border-top: .5em solid #ba1d1d;
}

header .spacer {
  flex: 1 1 auto;
}

footer {
  background: white;
  color: white;
  border-top: .5em solid #ba1d1d;
  padding: 1em;
}
footer .site-title {
  font-size: 16px;
}
.footer__info {
  color: black;
  padding-top: 1em;
}

.brand-strip {
  background: white;
  padding: 1em;
  border-top: 1em solid #ba1d1d;
}
.brand-strip .site-title {
  font-size: calc(12px + 1.2vw);
  color: #ba1d1d;
}

.site-title {
  font-family: 'Russo One', sans-serif;
  font-size: calc(20px + 1.2vw);
  color: #ba1d1d;
}


/* Aebi */
.aebi .promo__title img {
  width: 100%;
  max-width: 500px;
}

/* Aebi */
.ubco .promo__title img {
  width: 75%;
  max-width: 200px;
}


/* Menzi */
.menzi .promo__title img {
  width: 50%;
  max-width: 500px;
}

/* Goweil */
.goweil .promo__title img {
  width: 50%;
  max-width: 500px;
}

/* Awassos */
.awassos .promo__title img {
  width: 50%;
  max-width: 500px;
}


@media (min-width: 600px) {
  .promo {
    min-height: 0;
  }
}